@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Force dark theme defaults */
body {
  background-color: black;
  color: white;
}
